@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden;
}

/*header*/

a{
    text-decoration: none;
    color: currentColor;
}

a:hover{
    color: currentColor;
}

header{
    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
    background-color: #24262b;
}

header .container-fluid{
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

@media(max-width:992px){
    header .container-fluid{
        padding: 0 5%;
    }
}

header .navb-logo img{
    width: 9rem;
    height: 6rem;
}

header .navb-items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .item{
    text-align: center;
    margin-inline: 15%;
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #64d6f4;
    border-top: 0px solid #64d6f4;
    cursor: pointer;
}

header .item:hover{
    border-bottom: 3px solid #64d6f4;
}

header .item-button a{
    background-color: #8F27E1;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: all .5s ease;
}

header .item-button a:hover{
    background-color: #5e17eb;
}

header .mobile-toggler{
    font-size: 30px;
}

/* modal */

.modal-dialog{
    margin: 0;
    width: 430px;
}

@media(max-width: 450px){
    .modal-dialog{
        width: 82%;
    }
}

.modal-content{
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #5e17eb;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #fefefe;
}

.modal-header img{
    width: 140px;
    height: 66px;
    margin-top: 17.5px;
}

.modal-header .btn-close{
    background: transparent;
    opacity: 1;
}

.modal-header i{
    color: #fefefe;
    font-size: 30px;
}

.modal-body{
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}

.modal-body .modal-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    color: black;
    border-bottom: 1px solid white;
}

.modal-body .modal-line:hover{
    color: #fefefe;
    border-bottom: 1px solid #fefefe;
}

.modal-line a{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #fefefe;
}

.modal-line i{
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

.navb-button{
    width: 100%;
    height: 47px;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: black;
    letter-spacing: 2px;
    transition: all .5s ease;
}

.navb-button:hover{
    background-color: black;
    color: #fefefe;
}

.mobile-modal-footer{
    width: 87%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: black;
}

.mobile-modal-footer i:hover{
    color: #fefefe;
}



.section-1{
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 p{
    font-size: 75px;
    font-weight: 700;
    color: black;
    width: 90%;
    text-align: center;
}

@media(max-width:767px){
    .section-1 p{
        font-size: 50px;
        text-align: start;
        width: 70%;
        margin: auto;
    }
}

/*footer*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #64d6f4;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
    width: 100%;
}
}

/*index*/
.diseños{
background-color: #bbbbbb;
}
.diseñoSection {
    border-bottom:0.3rem solid #8F27E1;
}
.container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .cajasArmadas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cajaPcArmadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.videosPc {
    width: 22rem;
    height: 19rem;
    border: 0.3rem solid #8F27E1;
    background-color: black;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}
.videosPc:hover.neon-box {
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 3px #5e17eb, 0 0 6px #5e17eb, 0 0 9px #5e17eb, 0 0 12px #5e17eb, 0 0 21px #5e17eb, 0 0 24px #5e17eb, 0 0 30px #5e17eb, 0 0 45px #5e17eb;
    animation: neon-glow 1s ease-in-out infinite alternate;
}

@keyframes neon-glow {
    0% {
    box-shadow: 0 0 3px #5e17eb, 0 0 6px #5e17eb, 0 0 9px #5e17eb, 0 0 12px #5e17eb, 0 0 21px #5e17eb, 0 0 24px #5e17eb, 0 0 30px #5e17eb, 0 0 45px #5e17eb;
    }
    100% {
    box-shadow: 0 0 6px #5e17eb, 0 0 9px #5e17eb, 0 0 12px #5e17eb, 0 0 21px #5e17eb, 0 0 24px #5e17eb, 0 0 30px #5e17eb, 0 0 45px #5e17eb, 0 0 60px #5e17eb;
    }
}

.t1 {
    font-size: 2.5rem;
    color: black;
    border-bottom:0.3rem solid #8F27E1;
}
.textoPcArmadas {
    font-size: 1.5rem;
    color: black;
}
.carrucel{
    border-bottom:0.5rem solid #8F27E1;
    border-top: 0.5rem solid #8F27E1;
}
.imagenContacto {
    width: 50rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    border:0.3rem solid #8F27E1;;
}
@media(max-width:868px){
    .imagenContacto{
        width: 30rem;
    }
}
@media(max-width:544px){
    .imagenContacto{
        width: 25rem;
    }
}
@media(max-width:473px){
    .imagenContacto{
        width: 20rem;
    }
}
@media(max-width:400px){
    .videosPc{
        width: 20rem;
    }
}

/*componentes*/
/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formNuevoProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1rem solid white;
    width: 20rem;
    margin-bottom: 2rem;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#contenedor_productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 22rem;
    height: 19rem;
    border: 0.3rem solid #8F27E1;
    background-color: black;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.card:hover.card {
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 3px #5e17eb, 0 0 6px #5e17eb, 0 0 9px #5e17eb, 0 0 12px #5e17eb, 0 0 21px #5e17eb, 0 0 24px #5e17eb, 0 0 30px #5e17eb, 0 0 45px #5e17eb;
    animation: neon-glow 1s ease-in-out infinite alternate;
}

.objetoCarrito {
    border: 0.2rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    /* Estilos para la caja */
}

.card-title {
    margin-bottom: 0; /* Reduce el margen inferior del título */
}

.card-text {
    margin-bottom: 0; /* Reduce el margen inferior del párrafo */
}

.card-price {
    margin-top: 0; /* Reduce el margen superior del precio */
}

.card-img-top {
    height: 7rem;
    width: 7rem;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}